.child {
  border-radius: 5px;
  padding: 10px;
  background-color: lightblue;
  border: 2px solid red;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  gap: 5px;
  grid-auto-rows: 100px;
}
